@media screen and (max-width: 961px) {
    .carousel {
      display:none;
    }
    .img {
        display:none;
      }
    form h2 {
        text-align: center;      
    }
    section>H2 {
        font-size: 2em;      
    }
    h2 span {
        font-size: 1em;
    }

}
html {
    width: 96%;
    height: auto;
    margin: auto;

    
}

h2 span {
    font-size: 0.6em;
}

nav {
    display: block;
    background-color: #363535;
    height: 50px;
}
ul{
    color: lightgrey;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

nav>ul>li{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

nav>ul>li:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: grey;
}

.carousel {
    background-color: #9b9b9b;
    height: 150px;

}

section>H2 {
    text-align: center;
}

.img {
    display: flex;
    justify-content: space-around;

}

.img>article {
    width: 33%;
    height: 150px;
    background-color: grey;
    margin-bottom: 10%;
    margin: none;
}

input{
    width: 80%;
    height: 20px;
    margin-bottom: 1%;
    margin-left: 10%;
}

textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 1%;
    margin-left: 10%;
}

.bouton {
    display: flex;
    margin-top: 5px;
    marker-end: 5px;
    width: 80px;
    height: 50px;
}
.bouton>input {
    background-color: #9b9b9b
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #363535;
    color: white;
}